<footer id="{{ widget.id }}" class="widget-footer" data-widget-id="{{ widget.id }}" data-widget-type="footer">
  <div class="footer-content">
    <p class="footer-copyright">&copy; 2025 Widgetizer. All rights reserved.</p>
    <ul class="social-list">
      <li class="social-item">
        <a href="https://facebook.com" aria-label="Facebook">FB</a>
      </li>
      <li class="social-item">
        <a href="https://twitter.com" aria-label="Twitter">TW</a>
      </li>
      <li class="social-item">
        <a href="https://instagram.com" aria-label="Instagram">IG</a>
      </li>
      <li class="social-item">
        <a href="https://linkedin.com" aria-label="LinkedIn">LI</a>
      </li>
    </ul>
  </div>
</footer>
