node_modules
dist
# Ignore the entire data folder
data/*
# But include the projects directory structure
!data/projects/
# Ignore everything in the projects folder
data/projects/*
# But include the projects.json file specifically
!data/projects/projects.json
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.shopify
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test