# Ignore all builds
builds/

# Ignore downloaded Node.js binaries
**/node-v*.zip
**/node-v*/

# Ignore compiled tray apps during development
*.exe
*.app

# But keep the source
!tray-app/
