<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}
    {% fonts_preconnect %}
    {% fonts_stylesheet %}

    {% asset "base.css" %}
    {% render_styles %}
    {% theme_settings %}

    <style>
      :root {
        --bg-primary: var(--colors-bg_primary);
        --text-primary: var(--colors-text_primary);
      }
    </style>
  </head>
  <body class="{{ body_class }}">
    {{ header }}
    <main id="main-content">
      {{ main_content }}
    </main>
    {{ footer }}

    {% render_scripts %}
  </body>
</html>

