<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% seo %}
    {% fonts %}

    {% theme_settings %}
    {% asset "base.css" %}
    {% render_styles %}
  </head>
  <body class="{{ body_class }}">
    {{ header }}
    <main id="main-content" class="main-content">
      {{ main_content }}
    </main>
    {{ footer }}

    {% asset "scripts.js", { "defer": false } %}
    {% render_scripts %}
  </body>
</html>

