@import "tailwindcss";

@layer base {
  body {
    @apply text-sm font-sans text-gray-900 bg-gray-50;
  }

  button {
    @apply cursor-pointer;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-pink-500 ring-offset-2;
  }
}
