<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% seo %}

		{% fonts_preconnect %}
		{% fonts_stylesheet %}

		{% asset "base.css" %}
		{% asset "header_scripts.js" %}

		{% theme_settings %}

		<style>
			*,
			*::before,
			*::after {
				box-sizing: border-box;
			}

			img {
				max-width: 100%;
				height: auto;
			}

			body {
				margin: 0;
				padding: 30px 0;
				font-family: var(--typography-body_font-family);
				font-weight: var(--typography-body_font-weight);
				color: var(--colors-text);
				background-color: var(--colors-background);
			}

			.container {
				max-width: 1200px;
				margin: 0 auto;
				padding: 0 1rem;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin: 0;
				padding: 0;
				font-family: var(--typography-heading_font);
				font-weight: var(--typography-heading_font-weight);
			}
		</style>
	</head>
	<body class="{{ body_class }}">
		<div class="container">{{ content }}</div>

		{% asset "footer_scripts.js" %}
	</body>
</html>
